@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//mobile media queri width
//tablet media queri width
//desktop media queri width

html {
  font-size: 62.5%;
  font-family: "Public Sans", sans-serif;
}

:root {
  --slightly-desaturated-cyan: hsl(167°, 36%, 54%);
  --dark-blue-color: hsl(205°, 41%, 21%);
  --grayish-dark-blue: hsl(245°, 10%, 22%);
  --very-light-grey: hsl(0°, 0%, 98%);
  --light-grey: hsl(240°, 2%, 92%);
  --bright-red-error: hsl(0°, 90%, 57%);
  --headings-text: "Ibarra Real Nova", serif;
  --border-color: hsl(240°, 2%, 85%);
}
body {
  max-width: 100%;
}

.App {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  @media (min-width: 499px) {
    flex-direction: row;
  }
}

.App .main {
  flex-basis: 8;
  max-width: 100%;
  font-family: "Public Sans", sans-serif;
}
.App .navbar {
  flex-basis: 2;
  max-width: 100%;
}

@import "./header/desktopheader";
@import "./header/mobileheader";
@import "./searchbar/searchbar";
@import "./homestyle/homestyle";
@import "./feedItems/feeditem";
@import "./feedItems/feedsuggestion";
@import "./notificationsstyle/notificationsstyle";
@import "./messagestyle/messagestyle";
