.feed-item {
  color: black;
  margin: 2rem auto 2rem 0;
  width: 50rem;
  max-width: 100%;
  &__header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-top: 1px solid hsl(240°, 2%, 85%);
    max-width: 100%;
    padding: 1.5rem 0;
  }
  &__avatar {
    width: 9.5rem;
    height: 9.5rem;
    border-radius: 50%;
    margin: 0 1rem 1rem 0;
  }
  &__avatar-info {
    height: 4.5rem;
    display: flex;
    flex-direction: column;
  }
  &__display-name {
    font-size: 1.4rem;
  }
  &__display-handler {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: var(--grayish-dark-blue);
  }
  &__text-content {
    font-size: 1.7rem;
    line-height: 1.6;
  }

  &__feed-img {
    max-width: 100%;
    margin-top: 1.5rem;
  }

  &__footer {
    margin: 1rem 0;
  }
  &__footer-icons {
    display: flex;
  }
  &__footer-icon-item {
    list-style: none;
    font-size: 2.5rem;
    &:nth-child(1) {
      margin-right: 0.5rem;
    }
  }
  &__likes-amount {
    display: flex;
  }
  &__likes-amount-nr {
    margin-right: 0.5rem;
  }
}
